@import url("./font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.isi {
  font-family: Lato;
}

header {
  background-color: #02457a;
}
.navbar {
  background-color: #02457a;
}
.fitur {
  font-family: alika;
}

.caption {
  font-family: alika;
}
h3 {
  font-family: alika;
}

.head1 {
  background-color: #8a8a84;
}
.nav1 {
  background-color: #8a8a84;
}
